<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Website</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Shopping Website!</h1>
    </header>

    <ul id="productList">
      {% for product in products %}
      <li>
        <img
          src="{{ url_for('static', filename='images/' + product.image) }}"
          alt="{{ product.name }}"
        />
        <h2>{{ product.name }}</h2>
        <p>${{ product.price }}</p>
        <p>{{ product.description }}</p>
        <button class="showDetails">Show Details</button>
      </li>
      {% endfor %}
    </ul>

    <div id="productDetailsModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modalProductName"></h2>
        <p id="modalProductDescription"></p>
        <p id="modalProductPrice"></p>
      </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='confidential.js') }}"></script>

  </body>
</html>
